.wrap {
    display: inline-block;
    padding: 0.3rem 0.5rem;
    background: #E9E9E9;
    border-radius: 0.2rem;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    color: #212121;
}
