@import '../../../assets/styles/variables';

.wrap {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: $rubrik;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: #212121;
    margin-bottom: 1rem;
}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 0.95rem;
    color: #666666;
    margin-bottom: 1.6rem;
}

.list {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}