.main_title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #212121;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    width: 100%;
}

.hobbies {
    margin-bottom: 1rem;
}

.organizations {
    margin-top: 1rem;
}

.disciplines {
    background-color: #F5F7FA;
    padding-top: 0.3rem;
    padding-bottom: 1rem;
    margin-bottom: -1rem;
    position: relative;

    &:after {
        position: absolute;
        content: '';
        width: 100vw;
        height: 100%;
        top: 0;
        left: calc(((100vw - 100%) / -2));
        background-color: #F5F7FA;
        z-index: -1;
    }
}

.nothing {
    width: 100%;
    min-height: calc(100vh - 15rem);
    display: flex;
    align-items: center;
    justify-content: center;
}
