.slider {
    width: 100%;
    margin-top: 0.5rem;
}

.item {
    max-width: 3rem;
    width: 100%;
    cursor: pointer;
    text-decoration: none;

    &_name {
        font-style: normal;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 1rem;
        color: #9E9E9E;
        text-align: center;
        margin-bottom: 0.2rem;
    }

    &_wrap {
        min-height: 3.25rem;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        transition: all .1s ease-in-out;

        & > div {
            font-style: normal;
            font-weight: 500;
            font-size: 0.7rem;
            line-height: 0.7rem;
            color: #212121;

            &:nth-child(2) {
                color: #9E9E9E;
            }
        }
    }

    &:not(.inactive) {
        & > .item_wrap {
            border-color:#FFCF4E;
        }
    }
}
