.wrap {
    background: #009D32;
    border-radius: 3px;
    padding: 0.19rem 0.5rem;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 0.9rem;
    display: inline-block;
}
