.wrap {
    display: flex;
    flex-direction: column;

    & > * {
        & + * {
            margin-top: 0.5rem;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > a {
        text-decoration: none;

        & > button {
            padding-right: 0.4rem;

            & > span {
                height: 1.5rem;
                padding-left: 1rem;
                padding-right: 0.4rem;
            }

            & > svg {
                & > path {
                    fill: #FFCF4E;
                }
            }
        }
    }
}

.search {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.item {
    background: #FFFFFF;
    box-shadow: 0 3px 10px rgba(16, 0, 43, 0.1);
    border-radius: 8px;
    padding: 0.8rem 1rem;
    text-decoration: none;

    & > div {
        display: flex;
        flex-direction: column;
    }

    &_title {
        font-style: normal;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 0.9rem;
        color: #212121;
        margin-bottom: 0.4rem;
    }

    &_address,
    &_organizationName {
        font-style: normal;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 0.9rem;
        color: #9E9E9E;
    }

    &_address {
        margin-bottom: 0.6rem;
    }

    &_organizationName {
        margin-top: auto;
    }
}

.nothing {
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
