.map {
    width: 100vw;
    margin-left: calc(((100vw - 100%) / -2));
    min-height: calc(100vh - 24px - 2rem);
}

.nothing {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
