.slider {
    width: 100%;
    margin-right: -1rem;
}

.header {
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & > h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.6rem;
        color: #212121;
    }
}

.item {
    display: flex;
    flex-direction: column;
    max-width: 9.7rem;
    width: 100%;
    text-decoration: none;

    & > div {
        width: 100%;
        position: relative;
        min-height: 9.7rem;
        margin-bottom: 0.8rem;
        
        & > img {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 8px;
        }

        & > div {
            position: absolute;
            left: 0.57rem;
            bottom: 0.57rem;
        }
    }

    & > span {
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.2rem;
        color: #9E9E9E;
        position: relative;
    }

    & > h2 {
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.8rem;
        color: #212121;
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.nothing {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 14rem;
}
