@import './variables';
@import './fonts.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --color-yellow: #ffcf4e;
    --color-error: #D43E4F;
    --color-primary: #212121;
    --color-secondary: #9E9E9E;
    --color-link: #0068FF;
    --color-modal: #ffffff;
    --color-overlay: rgba(0, 0, 0, 0.4);
    --layer-blocker: 35;
    --layer-modal: 40;
    --toastify-toast-min-height: 0;
    --toastify-color-success: #009D32;
    --toastify-color-error: #D43E4F;
}

html {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    overflow-x: hidden;
    background-color: #ffffff;
}

#root {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    outline-color:  var(--color-yellow);
    text-decoration: none;

    &::selection {
        background:  var(--color-yellow);
    }
}


.Toastify__toast {
    padding: 17.5px;
    border-radius: 8px;
    font-size: 14px;
    align-items: center;
}

.Toastify__toast-body {
    padding: 0;
}

.Toastify__toast-container {
    &--top-right {
        top: calc(env(safe-area-inset-top) + 16px);

        @media (max-width: 480px) {
            transform: translateX(-50%);
            top: calc(env(safe-area-inset-top) + 16px);
        }
    }

    @media (max-width: 480px) {
        width: calc(100vw - 32px);
        left: 50%;
    }
}