.item {
    display: flex;
    flex-direction: column;

    & + .item {
        margin-top: 2rem;
    }

    @media (min-width: 991px) {
        align-items: flex-start;
    }

    & > a {
        text-decoration: none;
        width: auto;
        display: block;

        & > button {
            width: 100%;
            justify-content: center;
        }
    }
}

.button {
    padding-right: 0.4rem;

    & > span {
        height: 1.5rem;
        padding-left: 1rem;
        padding-right: 0.4rem;
    }

    & > svg {
        & > path {
            fill: #FFCF4E;
        }
    }
}

.address {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    & > div {
        font-style: normal;
        font-weight: normal;
        font-size: 0.8rem;
        line-height: 0.9rem;
        color: #9E9E9E;
    }
}

.title {
    width: 100%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    & > div {
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.3rem;
        color: #212121;
        text-decoration: none;
        margin-bottom: 0.5rem;

        &.organization {
            font-size: 0.8rem;
            color: #9E9E9E;
        }
    }
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & > div {
        margin-bottom: 0.5rem;
    }

    & > a {
        text-decoration: none;
    }
}

.schedule {
    & > * {
        & + * {
            margin-top: 0.5rem;
        }
    }
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
} 
