.root {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #EEEEEE;
  }
}

.tab {
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  line-height: 1rem;
  color: var(--color-primary);

  &_active {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      background-color: var(--color-primary);
      height: 2px;
      bottom: 1px;
      left: 0;
      right: 0;
    }
  }
}